<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs" style="padding-top:15px;padding-bottom:15px;">
        <!--<div class="list-group">-->
            <!--<a href="{{ url_for("admin.ProductView:index") }}" class="list-group-item">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--{{ _("Products") }}-->
            <!--</a>-->
            <!--<a href="{{ url_for("admin.CategoryView:index") }}" class="list-group-item">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--{{ _("Categories") }}-->
            <!--</a>-->
            <!--<a href="{{ url_for("admin.InvoiceView:index") }}" class="list-group-item">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--{{ _("Invoice") }}-->
            <!--</a>-->
            <!--<a href="{{ url_for("admin.ExchangeView:index") }}" class="list-group-item">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--{{ _("Exchange Rate") }}-->
            <!--</a>-->
        </div>
    </div>
    <div id="content" class="col-xs-12 col-sm-8 col-md-10" style="background:#f9f9f9;min-height:calc(100vh - 50px);padding-top:15px;padding-bottom:15px;">

    </div>
</div>